<h2>Questions</h2>
<%= link_to 'Ask a question', controller: :questions, action: :new %>
<hr>
<% @questions.each do |question| %>
  <p>
    <%= link_to question.body, question %>
    <% if question.tags.any? %>
      (<%= question.tags.map { |tag| tag.name } .join(', ') %>)
    <% end %>
  </p>
<% end %>